<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>


<article>
    	<header><h1 class="title-01">國會調查兵團最新調查報告</h1></header>
        <div id="main-video">
        <section>
        <a href="legislator_single_video.html" title="立委姓名-影片簡單標題"><img src="images/test-pic-01.jpg" alt="立委姓名-影片標題"/></a>
        <header><a href="legislator_single_video.html" title="立委姓名-影片標題"><h2>一二三四五六七八九十一二三四...</h2></a></header>
        <p class="time"><time datetime="2012-10-10">2012-10-10</time></p>
        <p>內文摘要內文摘要內文摘要，內文摘要內文摘要，內文摘要內文摘要內文摘要內文摘要...</p>
        </section>
        </div>
        <div id="sub-video">
        	<div class="s-video">
            	<section>
       			 <a href="legislator_single_video.html" title="立委姓名-影片標題"><img src="images/test-pic-02.jpg" alt="立委姓名-影片標題" /></a>
       			 <header><a href="legislator_single_video.html" title="立委姓名-影片標題"><h2>立委姓名</h2></a></header>
                 <p class="time"><time datetime="2012-10-10">2012-10-10</time></p>
        		</section>
            </div>
            <div class="s-video">
            	<section>
       			 <a href="legislator_single_video.html" title="立委姓名-影片標題"><img src="images/test-pic-02.jpg" alt="立委姓名-影片標題" /></a>
       			 <header><a href="legislator_single_video.html" title="立委姓名-影片標題"><h2>立委姓名</h2></a></header>
                 <p class="time"><time datetime="2012-10-10">2012-10-10</time></p>
        		</section>
            </div>
            <div class="s-video">
            	<section>
       			 <a href="legislator_single_video.html" title="立委姓名-影片標題"><img src="images/test-pic-02.jpg" alt="立委姓名-影片標題" /></a>
       			 <header><a href="legislator_single_video.html" title="立委姓名-影片標題"><h2>立委姓名</h2></a></header>
                 <p class="time"><time datetime="2012-10-10">2012-10-10</time></p>
        		</section>
            </div>
            <div class="s-video">
            	<section>
       			 <a href="legislator_single_video.html" title="立委姓名-影片標題"><img src="images/test-pic-02.jpg" alt="立委姓名-影片標題" /></a>
       			 <header><a href="legislator_single_video.html" title="立委姓名-影片標題"><h2>立委姓名</h2></a></header>
                 <p class="time"><time datetime="2012-10-10">2012-10-10</time></p>
        		</section>
            </div>
        </div>
        </article>