
    <div id="login_box">
      <h1>國會調查兵團平台管理後台</h1>
      <p class="login_btn">
        <%- if devise_mapping.omniauthable? %>
          <%- resource_class.omniauth_providers.each do |provider| %>
            <%= button_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %><br />
          <% end -%>
        <% end -%>
      </p>
    </div>

